@model ExameEscolar.ViewModels.AtendeExameViewModel

@{
    ViewData["Title"] = "AtendeExame";
}

<h1>@Model.ExameNome</h1>

<h4>Atende Exame</h4>
<hr />

@if (Model.Menssagem == "")
{
    <form asp-action="AtendeExame" asp-controller="Estudante" method="post">
        <input type="hidden" asp-for="EstudanteId" />
        <ul>
            @for (var i = 0; i < Model.QnAs.Count(); i++)
            {
                <input type="hidden" asp-for="@Model.QnAs[i].Id" />
                <input type="hidden" asp-for="@Model.QnAs[i].ExameId" />
                <li>
                    <label for="@Model.QnAs[i].Pergunta">@Model.QnAs[i].Pergunta</label>
                </li>

                <li>
                    <select asp-for="@Model.QnAs[i].SelecioneResposta" class="form-control">
                        <option value="1"> @Model.QnAs[i].Opcao1 </option>
                        <option value="2"> @Model.QnAs[i].Opcao2 </option>
                        <option value="3"> @Model.QnAs[i].Opcao3 </option>
                        <option value="4"> @Model.QnAs[i].Opcao4 </option>
                    </select>
                </li>
            }
        </ul>
        <button type="submit" name="action">Submit</button>
    </form>
}
else
{
    <p style="font-size:30px; color:red; text-align:center;"> @Model.Menssagem</p>
}






@*<h1>AtendeExame</h1>

    <h4>EstudanteViewModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AtendeExame">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UsuarioNome" class="control-label"></label>
                    <input asp-for="UsuarioNome" class="form-control" />
                    <span asp-validation-for="UsuarioNome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contato" class="control-label"></label>
                    <input asp-for="Contato" class="form-control" />
                    <span asp-validation-for="Contato" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CVNomeArquivo" class="control-label"></label>
                    <input asp-for="CVNomeArquivo" class="form-control" />
                    <span asp-validation-for="CVNomeArquivo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImagemNomeArquivo" class="control-label"></label>
                    <input asp-for="ImagemNomeArquivo" class="form-control" />
                    <span asp-validation-for="ImagemNomeArquivo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GroupsId" class="control-label"></label>
                    <input asp-for="GroupsId" class="form-control" />
                    <span asp-validation-for="GroupsId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContaTotal" class="control-label"></label>
                    <input asp-for="ContaTotal" class="form-control" />
                    <span asp-validation-for="ContaTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
